
.container {
    background-size: cover; /* Redimensionner l'image pour couvrir toute la zone */
    color: #ffffff; /* Couleur du texte */
    padding: 20px; /* Espacement intérieur */
    background-image: url('../images/abyss.jpg'); /* Chemin vers votre image */
    height: 90em;
    max-width: 100%;

}
nav.navbar.navbar-expand-lg.navbar-light {
    border: solid 2px;
}
.container {
    border-radius: 0%;
}
.container-footer{
    border: solid 2px;
}